<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>
<!-- Footer -->
<footer class="foot pt-4 ">

  <!-- Footer Elements -->
  <div class="container foot">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="mx-4" href="#">
          <i class="fa fa-github fa-3x icons"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mx-4" href="#">
          <i class="fa fa-twitter fa-3x icons"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mx-4" href="#">
          <i class="fa fa-linkedin-square fa-3x icons"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mx-4 view overlay zoom" href="#">
          <i class="fa fa-slack  fa-3x icons"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Pysched</a>
  </div>
 
<!-- Footer -->

   