{% extends "base.html" %}

{% block content %}

<h1> Welcome {{ user.username }} </h1>

<div class="container">
    <div class="row">
        <h3 class="">Username: {{ user.username|title }} </h3>
        <hr class="hr-line">

        <form>
            <div class="form-group">
                <label for="username">{{ user.username }}</label> 
            </div>
            <div class="form-group">
                <label for="email">{{ user.email }}</label> 
            </div>
            <div class="form-group">
                <label for="tagline">{{ user.tagline }}</label> 
            </div>
              <div class="form-group">
                <label for="tagline">{{ user.comment }}</label> 
            </div>
            
            
        <form>






    </div>
</div>

{% endblock %}